<div id="pagecontent">

        <form [formGroup]="formRecipe" (ngSubmit)="insertRecipe()">
            
            <div >
                <select formControlName="category">
                        <option value="">--Select a category--</option>
                        <option *ngFor="let category of categories" [ngValue]="category">{{ category }}</option>
                </select>
            </div>

            <div class="group">
                <input type="text" required="required" formControlName="name" /><span class="highlight"></span><span class="bar"></span><label>Title of your recipe</label>
                <p *ngIf="formRecipe.get('name')?.touched && formRecipe.get('name')?.hasError('required')"><small>You
                    must provide
                    a title.</small></p>
                    <p *ngIf="formRecipe.get('name')?.touched && formRecipe.get('name')?.hasError('minlength')"><small>You
                    must
                    provide at least 3 characters.</small></p>
                    <p *ngIf="formRecipe.get('name')?.touched && formRecipe.get('name')?.hasError('pattern')"><small>Only
                    use lower
                    and Uppercase Letters and Space</small></p>
            </div>  
            
            <div class="group">
                <input type="number" required="required" formControlName="time" /><span class="highlight"></span><span class="bar"></span><label>Needed time in minutes</label>
            </div>

            <div class="group">
                <textarea type="textarea" rows="5" required="required" formControlName="howto"></textarea><span class="highlight"></span><span class="bar"></span><label>Cooking directions</label>
            </div>

            <div class="group">
                <select formControlName="ingredient">
                    <option value="">--Select a Ingredient--</option>
                    <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient">{{ ingredient.name }}</option>
                </select>
            </div>
            <div class="group">
                <input type="text" required="required" formControlName="amountused" /><span class="highlight"></span><span class="bar"></span><label>Amount</label>
            </div>
            <div class="btn-box">
                <button class="btn btn-submit" type="button" (click)="addIngredientToList()">+</button>
            </div>


                <div id="ingredients" *ngIf="ingredients.length">
                        <h3>Ingredients</h3>
                        <section class="container">
                            <section class="col">
                
                                <table class="table" *ngIf="ingredients.length">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                
                                    <tbody>
                                        <tr *ngFor="let ingredient of ingredientsused">
                                            <td>{{ ingredient.name }}</td>
                                            <td>{{ ingredient.amount }}</td>
                                            
                                        </tr>
                                    </tbody>
                                    <tfoot *ngIf="ingredientsused.length === 0">
                                        <tr>
                                            <td colspan="2">No ingredients added yet!</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </section>
                        </section>
                    </div>

                <div class="btn-box">
                    <button class="btn btn-submit" type="submit" [disabled]="formRecipe.invalid">Add recipe</button>
                    <button class="btn btn-cancel" type="button">cancel</button>
                </div>
        </form>
    </div>
                
