button {
  color: black;
  background-color: white;
  border: 2px solid green;
  border-radius: 10px;
  padding: 4px;
  /* margin: 8px; */
  cursor: pointer;
}

button:hover {
  background-color: white;
  border: 2px solid greenyellow;
}

h2 {
  font-size: 35px;
  line-height: 1.1em;
  margin-bottom: -15px;
  text-align: left;
}

#category {
  margin-bottom: -25px;
}

#pagecontent {
  width: 80%;
  margin: auto;
  margin-top: 25px;
  size: 1.2em;
}

/* Picture and Overview */
#content-top {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 350px;
}

#picture-left {
  width: 50%;
  height: 100%;
  text-align: right;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#image {
  max-width: 100%;
  width: 400px;
  max-height: 290px;
}

#addpicture {
  margin-bottom: 0px;
  width: 400px;
}

#recipe-intro {
  width: 50%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

/* Recipe */
#content-bottom {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  margin-top: 50px;
}

#instructions-left {
  width: 70%;
  text-align: left;
}

#instructions-right {
  width: 30%;
  text-align: left;
}

#recipe {
  width: 80%;
}

/* Ingredients */
.col #ingredientstable {
  width: 100%; 
}

#ingredientstable tbody tr:nth-child(even) {
  background-color: white;
} 

#ingredientstable tbody tr:hover {
 background-color: #666;
 color: white;
 cursor: pointer;
}

#ingredientstable tfoot {
    background-color: white;
}

/* Comments */
#commentsbox {
  /* background-color: yellow; */
  align-items: flex-start;
  margin-top: 100px;
}

#commentcontainer {
  display: flex; 
  width: 70%;
  /* border: 5px solid magenta; */
  flex-direction: column;
}

#commenttable {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

#addcommentcontainer {
  /* background-color: blue; */
}


/* Sternebewertung */
#rating {
  /* margin-top: -35px; */
  /* height: 50px; */
  display: flex;
  /* text-align: left; */
}

span#Bewertung label {
  line-height: 45px;
  cursor: Pointer;
 }
 
 span#Bewertung input[type="radio"] {
  display: block; 
 }
 
 p.sternebewertung {
  display: block;
 }
 
 p.sternebewertung:not(:checked) > input {
  display: None;
 }
 
 p.sternebewertung:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: Hidden;
  white-space: Nowrap;
  cursor: Pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #D0D0D0;
  text-shadow: 1px 1px #B0B0B0, 2px 2px #606060, .1em .1em .2em rgba(0,0,0,.5);
  transition: all .5s;
 }
 
 p.sternebewertung:not(:checked) > label::before {
  content: '★ ';
 }
 
 p.sternebewertung > input:checked ~ label {
  color: #FFD700;
  text-shadow: 1px 1px #C06000, 2px 2px #904000, .1em .1em .2em rgba(0,0,0,.5);
  animation: twinkle 1s ease-in-out infinite alternate;
 }
 
 p.sternebewertung:not(:checked) > label:hover,
 p.sternebewertung:not(:checked) > label:hover ~ label {
  color: #FECF41;
  text-shadow: 1px 1px #F29E02, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
 }
 
 p.sternebewertung > input:checked + label:hover,
 p.sternebewertung > input:checked + label:hover ~ label,
 p.sternebewertung > input:checked ~ label:hover,
 p.sternebewertung > input:checked ~ label:hover ~ label,
 p.sternebewertung > label:hover ~ input:checked ~ label {
  color: #FBB600;
  text-shadow: 1px 1px #F8BA01, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
 }