button {
  color: black;
  background-color: white;
  border: 2px solid red;
  border-radius: 10px;
  padding: 4px;
  margin: 8px;
  cursor: pointer;
}

h2 {
  font-size: 45px;
  line-height: 1.1em;
  margin-bottom: -15px;
  text-align: left;
}

#category {
  margin-bottom: -25px;
}

#pagecontent {
  margin-top: 25px;
  
  align-content: space-around;
  
}

#content-top {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#recipe-intro {
  /* position: relative; */
  /* text-align: left; */
  width: 50%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  

}

#picture-left {
  width: 50%;
  text-align: right;
  margin-right: 1%;
  
}

#image {
  max-width: 100%;
  width: 400px;
}




#content-bottom {
  
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}




#recipe {
  margin: auto;
  width: 65%;
}

/* Sternebewertung */
#rating {
  /* margin-top: -35px; */
  /* height: 50px; */
  display: flex;
  /* text-align: left; */
}

span#Bewertung label {
  line-height: 45px;
  cursor: Pointer;
 }
 
 span#Bewertung input[type="radio"] {
  display: block; 
 }
 
 p.sternebewertung {
  display: block;
 }
 
 p.sternebewertung:not(:checked) > input {
  display: None;
 }
 
 p.sternebewertung:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: Hidden;
  white-space: Nowrap;
  cursor: Pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #D0D0D0;
  text-shadow: 1px 1px #B0B0B0, 2px 2px #606060, .1em .1em .2em rgba(0,0,0,.5);
  transition: all .5s;
 }
 
 p.sternebewertung:not(:checked) > label::before {
  content: '★ ';
 }
 
 p.sternebewertung > input:checked ~ label {
  color: #FFD700;
  text-shadow: 1px 1px #C06000, 2px 2px #904000, .1em .1em .2em rgba(0,0,0,.5);
  animation: twinkle 1s ease-in-out infinite alternate;
 }
 
 p.sternebewertung:not(:checked) > label:hover,
 p.sternebewertung:not(:checked) > label:hover ~ label {
  color: #FECF41;
  text-shadow: 1px 1px #F29E02, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
 }
 
 p.sternebewertung > input:checked + label:hover,
 p.sternebewertung > input:checked + label:hover ~ label,
 p.sternebewertung > input:checked ~ label:hover,
 p.sternebewertung > input:checked ~ label:hover ~ label,
 p.sternebewertung > label:hover ~ input:checked ~ label {
  color: #FBB600;
  text-shadow: 1px 1px #F8BA01, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
 }