<header>

    <p><img src="../assets/images/head.png" alt="Rate my food logo" title="Rate my food logo" id="logo"></p>
    <div id="top_menu_box">
        <p><input type="text" id="search_bar" placeholder="Search in recipes"  #searchterm><button (click)="searchRecipes(searchterm.value)">🔍</button></p>
        <nav class="top_menu">
            <ul>
                <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">Home</a></li>
                <li><a routerLink="recipes" routerLinkActive="active">Recipes</a></li>
                <li><a routerLink="login" routerLinkActive="active">Login</a></li>

            </ul>
        </nav>
    </div>

</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <p>&copy;</p>
    <p><img src="../assets/images/zeegermans.png" alt="Zee germans logo" title="Zee germans logo"> </p>
</footer>