<header>

    <p><img src="../assets/images/head.png" alt="Rate my food logo" title="Rate my food logo" id="logo"></p>
    <div id="top_menu_box">
        <nav class="top_menu">
            <ul>
                <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">Home</a></li>
                <li><a routerLink="recipes" routerLinkActive="active">Recipes</a></li>
                <li><a routerLink="login" routerLinkActive="active">Login</a></li>
                <li *ngIf="username !== 'Guest'"><a routerLink="addrecipe" routerLinkActive="active">Add New Recipe</a>
                </li>
                <li><input type="text" id="search_bar" placeholder="Search in recipes" #searchterm><button
                        (click)="searchRecipes(searchterm.value)">🔍</button></li>

            </ul>
        </nav>
    </div>

</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <div id="footer">
        <p>&copy;</p>
        <p><img src="../assets/images/zeegermans2.png" alt="Zee germans logo" title="Zee germans logo"
                (click)="dancingfeet()"></p>

        <div *ngIf="condition" id="easteregg">


            <video autoplay (ended)='dancingfeet()'>
                <source src="../assets/videos/Hobbitfeetdance.mp4" type="video/mp4">
            </video>

        </div>
    </div>

</footer>