#top_menu_box{
    display: flexbox;
    justify-content: center;
    
}

#search_bar {
    color: black;
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
    margin: 10px 20px;
    padding: 4px;
}
#top_menu_box button {
  color: black;
  background-color: white;
  border: 2px solid green;
  border-radius: 100%;
  padding: 4px;
  cursor: pointer;
}


#top_menu_box button:hover {
   
    background-color: white;
    border: 2px solid green;

   
  }
.top_menu {
    border-bottom: 1px solid green;
    /* box-shadow: x-offset y-offset blur color */
    box-shadow: 0px 2px 5px #aaa;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.top_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.top_menu li {
    display: inline;
}
.top_menu a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    display: inline-block;
}
.top_menu a:hover, .top_menu .active {
    color: white;
    background-color: green ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid white;
    

}



#footer {
    display: flexbox;
}

#easteregg {
    display: flex;
    margin-top: -800px;
    border-radius: 10px;
    border: solid 2px green;
}

#easteregg h2{
    display: inline;
    justify-self: center;

}
#easteregg video{
    display: inline-block;
    width: 100%;
}